<div *ngIf="!reviewCarousel.photos.length" class="error">
  К сожалению, отзывы пока отсутвуют.<br />Но мы обязательно исправим ситуацию!
</div>
<p-carousel
  *ngIf="reviewCarousel.photos.length"
  [value]="reviewCarousel.photos"
  [circular]="true"
  [numVisible]="5"
  [numScroll]="5"
  [responsiveOptions]="responsiveOptions"
  [autoplayInterval]="reviewCarousel.autoPlay * 1000"
  [showNavigators]="reviewCarousel.isUserCanLeaf"
>
  <ng-template let-page pTemplate="item">
    <div class="carousel__page">
      <img class="carousel__page_img" [src]="page.src" (click)="openImage(page.id)" />
    </div>
  </ng-template>
</p-carousel>

<p-galleria
  [value]="reviewCarousel.photos"
  [(visible)]="displayCustom"
  [(activeIndex)]="activeIndex"
  [responsiveOptions]="responsiveOptions"
  [circular]="true"
  [fullScreen]="true"
  [showItemNavigators]="true"
  [showThumbnails]="false"
>
  <ng-template pTemplate="item" let-item>
    <img class="full-width-img" [src]="item.src" alt="Отзыв клиента" />
  </ng-template>
</p-galleria>
