@import "colors";

$root: '.breadcrumb';

#{$root} {
  display: flex;
  align-items: center;
  &__icon {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    background-color: $whats-app-button;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
  }
  &__nav-bar {
    font-weight: 500;
    font-size: 12px;
    line-height: 100%;
    display: flex;
    &_item {
      color: $text-grey;
      span:first-child {
        cursor: pointer;
        &:hover {
          color: black;
        }
      }
      span:not(:first-child) {
        margin-right: 5px;
        margin-left: 5px;
      }
      &.active span:first-child {
         color: black;
       }
    }
  }
}
