<div class="container my-4">
  <flower-valley-search></flower-valley-search>
  <div class="banner">
    <div class="padding-adaptive">
      <div class="header">Тюльпаны оптом</div>
      <div class="ng-container__mobile">
        <ng-container *ngTemplateOutlet="carousel"></ng-container>
      </div>
      <div class="info">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Semper duis libero, arcu sed.
        Aliquet ut sit vestibulum auctor id. Maecenas vel mollis et viverra aenean cursus. Consequat
        felis nec ultricies vel, massa, est nunc. Purus at a nisl.
      </div>
      <flower-valley-leaf-button
        title="Каталог тюльпанов"
        styleClass="mt-4"
      ></flower-valley-leaf-button>
      <div *ngIf="isAdmin" class="mt-3">
        <p-button label="Редактировать"></p-button>
      </div>
    </div>
    <div class="ng-container__laptop">
      <ng-container *ngTemplateOutlet="carousel"></ng-container>
    </div>
  </div>
  <div class="info-banner">
    <div>
      <span>5800+</span>
      <span>ДОВОЛЬНЫХ КЛИЕНТОВ</span>
    </div>
    <div>
      <span>20 лет</span>
      <span>НА РЫНКЕ ЦВЕТОВ</span>
    </div>
    <div>
      <span>50+</span>
      <span>ГОРОДОВ В РОССИИ</span>
    </div>
    <div>
      <span>1 500.000 шт</span>
      <span>ЦВЕТОВ В ГОД</span>
    </div>
  </div>
</div>

<ng-template #carousel>
  <div class="carousel">
    <p-carousel [value]="photos" [autoplayInterval]="5000" [circular]="true">
      <ng-template let-photo pTemplate="item">
        <img class="carousel__img" [src]="photo.src" (click)="openImage(photo.src)" />
      </ng-template>
    </p-carousel>
    <div class="carousel__banner">
      <img src="assets/icons/shield.png" />
      <div class="ml-2">ПРЕМИАЛЬНОЕ КАЧЕСТВО ГАРАНТИРУЕМ!</div>
    </div>
  </div>
</ng-template>

<p-galleria
  [value]="photos"
  [(visible)]="displayCustom"
  [(activeIndex)]="activeIndex"
  [circular]="true"
  [fullScreen]="true"
  [showItemNavigators]="true"
  [showThumbnails]="false"
>
  <ng-template pTemplate="item" let-item>
    <img [src]="item.src" style="width: 100%; display: block" />
  </ng-template>
</p-galleria>
