<div class="container my-4">
  <span class="search p-input-icon-left w-12">
    <i class="pi pi-search"></i>
    <input class="w-12" pInputText placeholder="Поиск по товарам" type="text" />
    <p-button class="search__button">
      <ng-template pTemplate="content">
        <img src="assets/icons/search.png" width="30px" height="30px" />
      </ng-template>
    </p-button>
  </span>
  <div class="banner">
    <div class="pr-8">
      <div class="header">Тюльпаны оптом</div>
      <div class="info">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Semper duis libero, arcu sed.
        Aliquet ut sit vestibulum auctor id. Maecenas vel mollis et viverra aenean cursus. Consequat
        felis nec ultricies vel, massa, est nunc. Purus at a nisl.
      </div>
      <flower-valley-leaf-button
        title="Каталог тюльпанов"
        styleClass="mt-4"
      ></flower-valley-leaf-button>
      <div *ngIf="isAdmin" class="mt-3">
        <p-button label="Редактировать"></p-button>
      </div>
    </div>
    <div class="carousel">
      <p-carousel [value]="photos" [circular]="true">
        <ng-template let-photo pTemplate="item">
          <img class="carousel__img" [src]="photo.src" />
        </ng-template>
      </p-carousel>
      <div class="carousel__banner">
        <img src="assets/icons/shield.png" width="22px" />
        <div class="ml-2">ПРЕМИАЛЬНОЕ КАЧЕСТВО ГАРАНТИРУЕМ!</div>
      </div>
    </div>
  </div>
  <div class="info-banner">
    <div>
      <span>5800+</span>
      <span>ДОВОЛЬНЫХ КЛИЕНТОВ</span>
    </div>
    <div>
      <span>20 лет</span>
      <span>НА РЫНКЕ ЦВЕТОВ</span>
    </div>
    <div>
      <span>50+</span>
      <span>ГОРОДОВ В РОССИИ</span>
    </div>
    <div>
      <span>1 500.000 шт</span>
      <span>ЦВЕТОВ В ГОД</span>
    </div>
  </div>
</div>
