@import "colors";
@import "container";

$root: '.contacts';

#{$root} {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  @include laptop-media {
    flex-direction: row;
  }
  &__info {
    @include laptop-media {
      padding-right: 60px;
    }
    &_address {
      &-title {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        color: $text-grey;
        text-transform: uppercase;
      }
      &-content {
        font-weight: 500;
        font-size: 18px;
        @include laptop-media {
          font-size: 24px;
        }
        line-height: 140%;
        padding-top: 20px;
        color: $text;
      }
    }
    &_phones {
      &-title {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        color: $text-grey;
        text-transform: uppercase;
      }
      &-content {
        font-weight: 500;
        font-size: 16px;
        @include laptop-media {
          font-size: 18px;
        }
        @include xl-media {
          font-size: 21px;
        }
        line-height: 120%;
        padding-top: 20px;
        padding-bottom: 40px;
        display: flex;
        a {
          color: $text;
          text-decoration: none;
          &:hover {
            text-decoration: underline;
          }
          &:first-child {
            margin-bottom: 20px;
          }
        }
        .whats-app-button {
          max-width: 200px;
          display: flex;
          align-items: center;
          justify-content: center;
          background-color: $whats-app-button;
          border-radius: 5px;
          color: $main-green !important;
          font-weight: 500;
          font-size: 15.4978px;
          line-height: 19px;
          &:hover {
            cursor: pointer;
            outline: 1px solid $main-green;
            text-decoration: none !important;
          }
        }
      }
    }
    &_mail {
      padding-bottom: 40px;
      a {
        font-weight: 500;
        font-size: 16px;
        @include laptop-media {
          font-size: 18px;
        }
        @include xl-media {
          font-size: 21px;
        }
        line-height: 120%;
        color: $main-green;
        text-decoration: underline;
      }
    }
    &_timing {
      &-title {
        display: flex;
        align-items: center;
        font-weight: 500;
        font-size: 18px;
        line-height: 140%;
        color: $text-grey;
        text-transform: uppercase;
      }
      &-content {
        font-weight: 500;
        font-size: 18px;
        @include laptop-media {
          font-weight: 400;
          font-size: 24px;
        }
        line-height: 140%;
        color: $text;
        display: flex;
        flex-direction: column;
        span {
          font-weight: 500;
          padding-top: 20px;
        }
      }
    }
  }
  &__maps {
    display: flex;
    flex-direction: column;
    iframe {
      margin-top: 20px;
      border: none;
      border-radius: 10px;
    }
  }
}

.photo {
  position: relative;
  .hover {
    display: none;
    position: absolute;
    justify-content: flex-end;
    top: 0;
    right: 0;
    width: 100%;
    padding: 10px;
    background: $white-50;
  }
  &:hover {
    .hover {
      display: flex;
    }
  }
}
