<flower-valley-container background="dark" headerTitle="Контакты" *ngIf="contacts">
  <div class="contacts">
    <div class="contacts__info">
      <div class="contacts__info_address">
        <div class="contacts__info_address-title">
          <p-image
            styleClass="flex align-items-center mr-2"
            src="assets/icons/map-grey.svg"
            width="15px"
          ></p-image>
          <span>Адрес</span>
        </div>
        <div
          [ngClass]="{ 'pb-6': last }"
          class="contacts__info_address-content"
          *ngFor="let address of contacts.address; let last = last"
        >
          {{ address }}
        </div>
      </div>
      <div class="contacts__info_phones">
        <div class="contacts__info_phones-title">
          <p-image
            styleClass="flex align-items-center mr-2"
            src="assets/icons/phone.svg"
            width="15px"
          ></p-image>
          <span>Номер</span>
        </div>
        <div class="contacts__info_phones-content grid">
          <a class="col-6" *ngFor="let phone of contacts.phones" href="tel:{{ phone }}">{{
            phone
          }}</a>
          <a
            class="whats-app-button col-6"
            href="https://api.whatsapp.com/send/?phone={{ contacts.whatsAppNumber }}"
            target="_blank"
          >
            <span class="pi pi-whatsapp"></span>
            <div class="pl-1">What'sApp</div>
          </a>
        </div>
      </div>
      <div class="contacts__info_mail">
        <a type="mail" href="mailto:{{ contacts.mail }}">{{ contacts.mail }}</a>
      </div>
      <div class="contacts__info_timing">
        <div class="contacts__info_timing-title">
          <p-image
            styleClass="flex align-items-center mr-2"
            src="assets/icons/clock.svg"
            width="15px"
          ></p-image>
          <span>Время работы</span>
        </div>
        <div class="contacts__info_timing-content">
          <span *ngFor="let workTime of contacts.workTime">{{ workTime }}</span>
        </div>
      </div>
    </div>
    <div class="contacts__maps">
      <p-image src="assets/images/mocks/map.png" [width]="mapWidth"></p-image>
      <iframe
        src="https://yandex.ru/map-widget/v1/?um=constructor%3Af0f81081a26b3a5a29beb2d09e827b36f9014680da091bb23a40bd9068f08b50&amp;source=constructor"
        [width]="mapWidth"
        height="300"
      ></iframe>
    </div>
  </div>
</flower-valley-container>
<flower-valley-container
  background="dark"
  headerTitle="Фотографии"
  [isAdmin]="isAdmin"
  [buttonTemplate]="addPhotos"
  *ngIf="photos.length"
>
  <div class="grid">
    <div
      *ngFor="let photo of photos; let i = index"
      pDraggable="contactsPhoto"
      dragEffect="move"
      pDroppable="contactsPhoto"
      (onDrop)="drop()"
      (onDragEnter)="setPosition(i)"
      (onDragStart)="dragStart(photo, i)"
      (onDragEnd)="dragEnd()"
      class="photo col-12 lg:col-6 xl:col-4 flex justify-content-center"
    >
      <p-image
        [src]="photo.img"
        styleClass="cursor-pointer"
        [width]="photosWidth"
        (click)="openImage(photo.id)"
        [imageStyle]="{ 'border-radius': '10px', height: '100%', 'object-fit': 'cover' }"
      ></p-image>
      <div class="hover" *ngIf="isAdmin">
        <flower-valley-files-upload
          label="Изменить фотографию"
          [multi]="false"
          [showOnlyButton]="true"
          (uploaded)="editImage($event, photo.id)"
        ></flower-valley-files-upload>
        <p-button
          styleClass="p-button-danger ml-2"
          icon="pi pi-trash"
          (onClick)="deleteImage(photo.id)"
        ></p-button>
      </div>
    </div>
  </div>
</flower-valley-container>

<p-galleria
  [value]="photos"
  [(visible)]="displayCustom"
  [(activeIndex)]="activeIndex"
  [circular]="true"
  [fullScreen]="true"
  [showItemNavigators]="true"
  [showThumbnails]="false"
>
  <ng-template pTemplate="item" let-item>
    <img [src]="item.img" style="width: 100%; display: block" />
  </ng-template>
</p-galleria>

<ng-template #addPhotos>
  <flower-valley-files-upload
    label="Добавить фотографии"
    [showOnlyButton]="true"
    (uploaded)="addPhoto($event)"
  ></flower-valley-files-upload>
</ng-template>
