@import "src/app/shared/product-item/add-product/add-product.component";

::ng-deep {
  p-inputnumber, .p-inputnumber {
    width: 100%;
  }
}

.img {
  position: relative;
  p-button {
    position: absolute;
    top: 0;
    left: 0;
  }
}
