<div class="download-invoice">
  <div class="download-invoice__content">
    <div class="download-invoice__content_header">Ваш заказ зарегестрирован в системе</div>
    <div class="download-invoice__content_text">
      Работа с юрлицами производится по полной предоплате. Пожалуйста, оплатите выставленный счет.
      Если у Вас возникнут вопросы, свяжитесь с нами любым удобным способом
    </div>
    <div class="download-invoice__content_button">
      <p-button
        *ngIf="telepakId"
        styleClass="flex justify-content-center"
        (onClick)="window.open('https://375.ru/' + telepakId)"
      >
        <ng-template pTemplate="content">
          <p-image
            styleClass="flex align-items-center"
            src="assets/icons/estimate-white.svg"
          ></p-image>
          <span [style]="{ 'margin-left': '15px' }">Cкачать счет в PDF</span>
        </ng-template>
      </p-button>
      <p-button
        [loading]="!order"
        [style]="{ 'margin-top': '20px', padding: '25px' }"
        styleClass="p-button-estimate w-12 flex justify-content-center"
        (onClick)="getOffer()"
      >
        <ng-template pTemplate="content">
          <p-image styleClass="flex align-items-center" src="assets/icons/estimate.svg"></p-image>
          <span>Скачать Коммерческое Предложение</span>
        </ng-template>
      </p-button>
    </div>
  </div>
</div>
