<footer *ngIf="footer">
  <div class="footer">
    <div class="footer__company">
      <p-image [src]="footer.img" [routerLink]="['']"></p-image>
      <div class="flex flex-column justify-content-between h-100 pt-2">
        <span class="w-8">{{ footer.title }}</span>
        <span>{{ footer.subTitle }}</span>
        <ng-container *ngTemplateOutlet="roots"></ng-container>
      </div>
    </div>
    <div>
      <div class="footer__menu">
        <div [routerLink]="['/catalog']">Каталог</div>
        <div [routerLink]="['']" fragment="about">О компании</div>
        <div [routerLink]="['catalog', 'tulips']">Тюльпаны оптом</div>
        <div [routerLink]="['catalog', 'seedlings']">Рассада цветов</div>
        <div [routerLink]="['contacts']">Контакты</div>
        <div class="price">
          <ng-container *ngTemplateOutlet="priceButton"></ng-container>
        </div>
      </div>
      <ng-container *ngTemplateOutlet="contacts"></ng-container>
      <div class="footer__contacts">
        <a
          href="https://yandex.ru/maps/?from=mapframe&ll=37.988529%2C55.596038&mode=usermaps&source=mapframe&um=constructor%3Af0f81081a26b3a5a29beb2d09e827b36f9014680da091bb23a40bd9068f08b50&utm_source=mapframe&z=16"
          target="_blank"
        >
          <p-image src="assets/images/map.png"></p-image>
        </a>
        <div class="footer__contacts_content">
          <div class="price">
            <ng-container *ngTemplateOutlet="priceButton"></ng-container>
          </div>
          <div class="address">
            <span *ngFor="let address of footer.address">{{ address }}</span>
          </div>
          <div class="work-time">
            <span *ngFor="let workTime of footer.workTime">{{ workTime }}</span>
          </div>
          <div class="roots">
            <ng-container *ngTemplateOutlet="roots"></ng-container>
          </div>
        </div>
        <ng-container *ngTemplateOutlet="contacts"></ng-container>
      </div>
    </div>
  </div>
  <!--  <div class="advertisement">-->
  <!--        <span-->
  <!--          >Дизайн - <a href="" target="_blank">ВАКАНСИЯ</a> | Разработано командой-->
  <!--          <a href="https://progoff.ru" target="_blank">Progoff</a></span-->
  <!--        >-->
  <!--  </div>-->
</footer>

<ng-template #contacts>
  <div class="contacts" *ngIf="footer">
    <a
      class="whats-app-button p-2"
      href="https://api.whatsapp.com/send/?phone={{ footer.whatsAppNumber }}"
      target="_blank"
    >
      <span class="pi pi-whatsapp"></span>
      <div class="pl-2">What'sApp</div>
    </a>
    <div class="phone" *ngFor="let phone of footer.phones">
      <span class="pi pi-phone"></span>
      <a type="tel" href="tel:{{ phone }}">{{ phone }}</a>
    </div>
    <div class="mail">
      <span class="pi pi-envelope"></span>
      <a type="mail" href="mailto:{{ footer.mail }}">{{ footer.mail }}</a>
    </div>
  </div>
</ng-template>

<ng-template #priceButton>
  <p-button (onClick)="getPriceList()">
    <ng-template pTemplate="content">
      <p-image
        styleClass="flex align-items-center"
        src="assets/icons/download.svg"
        width="13px"
      ></p-image>
      <div class="pl-2">ПРАЙС-ЛИСТ</div>
    </ng-template>
  </p-button>
</ng-template>

<ng-template #roots>
  <span>2021 © Агрофирма Цветочная Долина. Все права защищены</span>
</ng-template>
