<header class="header">
  <div class="header__contacts">
    <div class="flex justify-content-center align-items-center">
      <img src="../../../assets/images/logo.png" alt="flowervalley" />
      <div class="flex flex-column justify-content-center pl-2">
        <div class="title">Агрофирма<br />Цветочная Долина</div>
        <div>Тепличное хозяйство</div>
      </div>
    </div>
    <div class="flex px-4 work-time">
      <span class="pi pi-clock"></span>
      <div class="pl-2">Пн-Вс: с 9:00 до 20:00 без выходных и обеда.</div>
    </div>
    <div class="flex px-4 address">
      <span class="pi pi-map-marker"></span>
      <div class="pl-2">
        140125, Моск. обл., Раменский р-н., д. Островцы, ул. Подмосковная д. 22 A теплица 109
      </div>
    </div>
    <div>
      <div class="whats-app-button p-2">
        <span class="pi pi-whatsapp"></span>
        <div class="pl-1"><b>What'sApp</b></div>
      </div>
    </div>
    <div class="contacts pl-4">
      <div class="flex">
        <span class="pi pi-phone"></span>
        <div class="pl-2">+7 (915) 109-10-00</div>
      </div>
      <div class="flex">
        <span class="pi pi-envelope"></span>
        <div class="pl-2">flowervalley@mail.ru</div>
      </div>
    </div>
  </div>
  <div class="header__menu-bar">
    <div class="header__menu-bar_content">
      <div class="prices">
        <span class="pi pi-download"></span>
        <div class="pl-2">ПРАЙС-ЛИСТ</div>
      </div>
      <div class="catalog">
        <span class="pi pi-shopping-bag"></span>
        <div class="pl-2">Каталог</div>
      </div>
      <div>О компании</div>
      <div>Тюльпаны оптом</div>
      <div>Рассада цветов</div>
      <div>Контакты</div>
      <div class="cart">
        <span class="pi pi-shopping-cart"></span>
        <div class="pl-2">
          <div class="cart__sum">22 987&#8381;</div>
          <div class="cart__count">2 товара</div>
        </div>
      </div>
    </div>
  </div>
</header>
