<header #header class="header">
  <div class="header__contacts" *ngIf="headerData">
    <div class="header__contacts_logo cursor-pointer" [routerLink]="['']">
      <p-image (click)="menuShow = false" [src]="headerData.img"></p-image>
      <div class="flex-column justify-content-center pl-2">
        <div class="title">{{ headerData.title }}</div>
        <div class="sub-title">{{ headerData.subTitle }}</div>
      </div>
    </div>
    <div class="header__contacts_data">
      <ng-container *ngTemplateOutlet="contacts"></ng-container>
    </div>
    <div class="header__contacts_button">
      <a
        class="whats-app-button p-2"
        href="https://api.whatsapp.com/send/?phone={{ headerData.whatsAppNumber }}"
        target="_blank"
      >
        <span class="pi pi-whatsapp"></span>
        <div class="pl-1">What'sApp</div>
      </a>
    </div>
    <div class="contacts">
      <div class="flex">
        <span class="pi pi-phone"></span>
        <a href="tel:{{ headerData.phone }}">{{ headerData.phone }}</a>
      </div>
      <div class="flex">
        <span class="pi pi-envelope"></span>
        <a type="mail" href="mailto:{{ headerData.mail }}">{{ headerData.mail }}</a>
      </div>
    </div>
    <div class="search">
      <p-button class="search__button" (onClick)="searchToggle()">
        <ng-template pTemplate="content">
          <p-image
            src="assets/icons/search.png"
            styleClass="flex justify-content-center align-items-center"
            width="17px"
            height="17px"
          ></p-image>
        </ng-template>
      </p-button>
    </div>
    <div class="mobile-menu" (click)="menuToggle()">
      <p-image src="../../../assets/images/mobile-menu{{ menuShow ? '-close' : '' }}.svg"></p-image>
    </div>
    <div class="search-panel" [ngClass]="{ visible: searchShow }">
      <flower-valley-search></flower-valley-search>
    </div>
    <div class="mobile-menu-panel" [ngClass]="{ visible: menuShow }">
      <div class="content" (click)="menuShow = false">
        <ng-container *ngTemplateOutlet="menuBar"></ng-container>
      </div>
    </div>
  </div>
  <div class="header__menu-bar">
    <div class="header__menu-bar_content">
      <ng-container *ngTemplateOutlet="pricesButton"></ng-container>
      <ng-container *ngTemplateOutlet="menuBar"></ng-container>
      <div class="scrolled-search">
        <div class="menu">
          <div #menuBtn class="button" (mouseenter)="isMenuToggle = !isMenuToggle">
            <span>Меню</span>
            <span *ngIf="!isMenuToggle" class="pi pi-angle-down"></span>
            <span *ngIf="isMenuToggle" class="pi pi-angle-up"></span>
          </div>
          <div class="panel" *ngIf="isMenuToggle">
            <div class="content">
              <ng-container *ngTemplateOutlet="menuBar"></ng-container>
            </div>
          </div>
        </div>
        <flower-valley-search></flower-valley-search>
      </div>
      <ng-container *ngTemplateOutlet="cartButton"></ng-container>
    </div>
  </div>
</header>

<p-overlayPanel #cartPanel>
  <ng-template pTemplate>
    <flower-valley-cart-modal [cart]="cart || []"></flower-valley-cart-modal>
  </ng-template>
</p-overlayPanel>

<ng-template #menuBar>
  <a class="catalog" [routerLink]="['/catalog']">
    <span class="pi pi-shopping-bag"></span>
    <div class="pl-2">Каталог</div>
  </a>
  <a [routerLink]="['']" fragment="about">О компании</a>
  <a [routerLink]="['catalog', 'tulips']">Тюльпаны оптом</a>
  <a [routerLink]="['catalog', 'seedlings']">Рассада цветов</a>
  <a [routerLink]="['contacts']">Контакты</a>
  <div *ngIf="menuShow" class="mobile-cart">
    <ng-container *ngTemplateOutlet="cartButton"></ng-container>
    <div>
      <ng-container *ngTemplateOutlet="pricesButton"></ng-container>
      <ng-container *ngTemplateOutlet="contacts"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #cartButton>
  <div class="cart" (click)="cart?.length && !menuShow ? cartPanel.toggle($event) : goToCart()">
    <span class="cart__icon">
      <p-image
        styleClass="flex"
        src="assets/icons/cart{{ menuShow ? '-green' : '' }}.svg"
      ></p-image>
    </span>
    <div class="pl-2">
      <div class="cart__sum">{{ getSum | priceConverter }}</div>
      <div class="cart__count">{{ getCount | cartCount }}</div>
    </div>
  </div>
</ng-template>

<ng-template #pricesButton>
  <div class="prices" (click)="getPriceList()">
    <p-image
      styleClass="flex align-items-center"
      src="assets/icons/download{{ menuShow ? '-green' : '' }}.svg"
      width="13px"
    ></p-image>
    <div class="pl-2">ПРАЙС-ЛИСТ</div>
  </div>
</ng-template>

<ng-template #contacts>
  <ng-container *ngIf="headerData">
    <div class="work-time" *ngFor="let workTime of headerData.workTime">
      <span class="pi pi-clock"></span>
      <div class="pl-2">{{ workTime }}</div>
    </div>
    <div class="address" *ngFor="let address of headerData.address">
      <span class="pi pi-map-marker"></span>
      <div class="pl-2">
        {{ address }}
      </div>
    </div>
  </ng-container>
</ng-template>
