<header class="header">
  <div class="header__contacts">
    <div class="header__contacts_logo cursor-pointer" [routerLink]="['']">
      <p-image (click)="menuShow = false" src="../../../assets/images/logo.png"></p-image>
      <div class="flex-column justify-content-center pl-2">
        <div class="title">Агрофирма<br />Цветочная Долина</div>
        <div>Тепличное хозяйство</div>
      </div>
    </div>
    <div class="work-time">
      <span class="pi pi-clock"></span>
      <div class="pl-2">Пн-Вс: с 9:00 до 20:00 без выходных и обеда.</div>
    </div>
    <div class="address">
      <span class="pi pi-map-marker"></span>
      <div class="pl-2">
        140125, Моск. обл., Раменский р-н., д. Островцы, ул. Подмосковная д. 22 A теплица 109
      </div>
    </div>
    <div>
      <div class="whats-app-button p-2">
        <span class="pi pi-whatsapp"></span>
        <div class="pl-1">What'sApp</div>
      </div>
    </div>
    <div class="contacts pl-4">
      <div class="flex">
        <span class="pi pi-phone"></span>
        <div class="pl-2">+7 (915) 109-10-00</div>
      </div>
      <div class="flex">
        <span class="pi pi-envelope"></span>
        <div class="pl-2">flowervalley@mail.ru</div>
      </div>
    </div>
    <div class="search">
      <p-button class="search__button" (onClick)="searchToggle()">
        <ng-template pTemplate="content">
          <p-image
            src="assets/icons/search.png"
            styleClass="flex justify-content-center align-items-center"
            width="17px"
            height="17px"
          ></p-image>
        </ng-template>
      </p-button>
    </div>
    <div class="mobile-menu" (click)="menuToggle()">
      <p-image src="../../../assets/images/mobile-menu{{ menuShow ? '-close' : '' }}.svg"></p-image>
    </div>
    <div class="search-panel" [ngClass]="{ visible: searchShow }">
      <span class="search-input w-12">
        <input class="w-12" pInputText placeholder="Поиск по товарам" type="text" />
      </span>
    </div>
    <p-button class="search-button" [ngClass]="{ visible: searchShow }" (onClick)="searchToggle()">
      <ng-template pTemplate="content">
        <p-image
          src="assets/icons/search.png"
          styleClass="flex justify-content-center align-items-center"
          width="17px"
          height="17px"
        ></p-image>
      </ng-template>
    </p-button>
    <div class="mobile-menu-panel" [ngClass]="{ visible: menuShow }">
      <div class="content" (click)="menuShow = false">
        <ng-container *ngTemplateOutlet="menuBar"></ng-container>
      </div>
    </div>
  </div>
  <div class="header__menu-bar">
    <div class="header__menu-bar_content">
      <div class="prices">
        <p-image
          styleClass="flex align-items-center"
          src="assets/icons/download.png"
          width="13px"
        ></p-image>
        <div class="pl-2">ПРАЙС-ЛИСТ</div>
      </div>
      <ng-container *ngTemplateOutlet="menuBar"></ng-container>
      <div class="cart" (click)="cart?.length ? cartPanel.toggle($event) : goToCart()">
        <span class="cart__icon">
          <p-image src="assets/icons/cart.svg"></p-image>
        </span>
        <div class="pl-2">
          <div class="cart__sum">{{ getSum }}₽</div>
          <div class="cart__count">{{ getCount }} товар(-ов)</div>
        </div>
      </div>
    </div>
  </div>
</header>

<p-overlayPanel #cartPanel>
  <ng-template pTemplate>
    <flower-valley-cart-modal [cart]="cart || []"></flower-valley-cart-modal>
  </ng-template>
</p-overlayPanel>

<ng-template #menuBar>
  <div class="catalog" [routerLink]="['/catalog']">
    <span *ngIf="!menuShow" class="pi pi-shopping-bag"></span>
    <div [ngClass]="{ 'pl-2': !menuShow }">Каталог</div>
  </div>
  <div [routerLink]="['']" fragment="about">О компании</div>
  <div>Тюльпаны оптом</div>
  <div>Рассада цветов</div>
  <div [routerLink]="['contacts']">Контакты</div>
  <div *ngIf="menuShow" (click)="goToCart()">Корзина</div>
</ng-template>
