@import "colors";
@import "container";

$root: '.header';

@mixin mobile-panel($top: 100px) {
  position: absolute;
  top: $top;
  width: 250px;
  right: -27px;
  .content {
    &:hover {
      text-decoration: none !important;
    }
    background-color: $white-100;
    display: flex;
    flex-direction: column;
    color: $white-100;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    &>div {
      &:hover {
        text-decoration: none !important;
      }
      display: flex;
      align-items: center;
      color: $text;
      font-weight: 500;
      font-size: 18px;
      line-height: 22px;
      padding: 10px;
      &.catalog {
        font-size: 24px;
        line-height: 30px;
        div {
          text-align: center;
        }
      }
    }
  }
}

@mixin cart-button {
  .cart {
    &:hover {
      outline: 1px solid $white-100;
      text-decoration: none;
      div {
        text-decoration: none;
      }
    }
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #FFFFFF;
    border-radius: 10px;
    padding: 10px;
    &__icon {
      display: flex;
      align-items: center;
      justify-content: center;
      background: rgba(255, 255, 255, 0.1);
      border-radius: 10px;
      padding: 10px;
    }
    .pi-shopping-cart {
      font-size: 35px;
      padding-right: 5px;
    }
    &__sum {
      font-weight: 600;
      font-size: 20px;
      line-height: 25px;
    }
    &__count {
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
    }
  }
}

#{$root} {
  background: $white-100;
  position: sticky;
  top: 0;
  @include laptop-media {
    top: -100px;
  }
  z-index: 110;
  &__contacts {
    position: relative;
    display: flex;
    justify-content: space-between;
    @include fv-container(20px, 20px);
    @media screen and (max-width: 370px) {
      margin-left: 10px;
      margin-right: 10px;
    }
    height: 100px;
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
    &_logo {
      display: flex;
      justify-content: center;
      align-items: center;
      ::ng-deep img {
        width: 53px;
        @media screen and (max-width: 370px) {
          width: 40px;
        }
        @include laptop-media {
          width: 80px;
        }
      }
      &>div {
        display: none;
        @include laptop-media {
          display: flex;
        }
        .title {
          font-weight: 600;
          font-size: 16px;
          line-height: 108.9%;
        }
      }
    }

    .whats-app-button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 140px;
      height: 44px;
      background-color: $whats-app-button;
      border-radius: 5px;
      font-weight: 500;
      font-size: 15.4978px;
      line-height: 19px;
      color: #3A3A3A;
      .pi-whatsapp {
        color: $main-green;
      }
      &:hover {
        text-decoration: none;
        outline: 1px solid $main-green;
      }
    }
    .address {
      display: none;
      @include laptop-media {
        display: flex;
      }
      width: 270px;
      &+div {
        display: none;
        @include laptop-media {
          display: block;
        }
      }
    }
    .work-time {
      display: none;
      @include laptop-media {
        display: flex;
      }
      width: 200px;
    }
    .contacts {
      display: flex;
      flex-direction: column;
      justify-content: center;
      font-weight: 500;
      font-size: 11px;
      line-height: 14px;
      @include laptop-media {
        display: block;
        font-size: 15.4978px;
        line-height: 19px;
        padding-left: 10px;
      }
      div:first-child {
        margin-bottom: 10px;
      }
      span {
        color: $main-green;
        @media screen and (max-width: 370px) {
          display: none;
        }
      }
      a {
        color: $text;
        padding-left: 10px;

      }
    }
    .search {
      display: flex;
      @include laptop-media {
        display: none;
      }
      align-items: center;
      justify-content: center;
      @media screen and (max-width: 370px) {
        margin-right: 5px;
        margin-left: 5px;
      }
      margin-right: 10px;
      margin-left: 10px;
      &__button {
        ::ng-deep button {
          padding: 10px;
        }

        right: 10px;
        border-radius: 10px;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .mobile-menu {
      display: flex;
      @include laptop-media {
        display: none;
      }
      align-items: center;
    }
    .mobile-menu-panel {
      display: none;
      &.visible {
        display: block;
        @include laptop-media {
          display: none;
        }
      }
      @include mobile-panel;
    }
    .search-panel {
      display: none;
      &.visible {
        display: block;
      }
      position: absolute;
      background-color: $main-green;
      top: 100px;
      left: -27px;
      right: -27px;
      padding: 9px 11px;
    }
  }
  &__menu-bar {
    display: none;
    @include laptop-media {
      display: block;
    }
    background-color: $main-green;
    color: $white-100;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;

    &_content {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include fv-container(20px, 20px);
      div {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
      .scrolled-search {
        display: none;
      }
      .prices, .catalog {
        display: flex;
        justify-content: center;
        align-items: center;
      }
      .prices {
        font-weight: 600;
        padding: 20px;
        border: 1px solid #FFFFFF;
        border-radius: 10px;
        &:hover {
          outline: 1px solid $white-100;
          text-decoration: none;
          div {
            text-decoration: none;
          }
        }
      }
      .catalog {
        font-size: 24px;
        line-height: 30px;
        &:hover {
          text-decoration: none;
        }
      }
      @include cart-button;
    }
    &.scrolled {
      .header__menu-bar_content {
        @include fv-container(10px, 10px);
        .catalog ~ div:not(.cart) {
          display: none;
        }
        .scrolled-search {
          padding-left: 50px;
          padding-right: 20px;
          &:hover {
            text-decoration: none;
            cursor: default;
          }
          .menu {
            position: relative;
            &:hover {
              text-decoration: none;
              cursor: default;
            }
            .button {
              margin-right: 30px;
              font-style: normal;
              font-weight: 500;
              font-size: 24px;
              line-height: 30px;
              span:first-child {
                margin-right: 10px;
              }
            }
            .panel {
              &:hover {
                text-decoration: none;
              }
              .catalog {
                display: none !important;
                &~ div {
                  display: block;
                  &:hover {
                    background-color: $main-green;
                    color: $white-100;
                  }
                }
              }
              @include mobile-panel(59px);
            }
          }
          display: flex !important;
          flex: 1 1 auto;
          align-items: center;
          ::ng-deep flower-valley-search {
            flex: 1 1 auto;
          }
          ::ng-deep .search {
            input {
              height: 50px;
            }
            &__button {
              ::ng-deep button {
                padding: 10px;
                ::ng-deep img {
                  width: 15px;
                  height: 15px;
                }
              }
            }
          }
        }
        .prices {
          display: none;
        }
        .cart__icon {
          ::ng-deep img {
            width: 20px;
          }
        }
      }
    }
  }
}

:host ::ng-deep p-button {
  border: none;
}

.mobile-cart {
  width: 100%;
  @include cart-button;
  .cart {
    max-width: 160px;
    border-color: $main-green;
    &__icon {
      background-color: #F4F8E6;
    }
  }
  .prices {
    background-color: $whats-app-button;
    color: $main-green;
    margin: 20px 0;
    padding: 20px;
    width: 100%;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 600;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    &:active {
      outline: 1px solid $main-green;
    }
  }
  .work-time {
    display: flex;
    width: 100%;
  }
  .address {
    display: flex;
    width: 100%;
    margin: 20px 0;
  }
  .work-time, .address {
    font-weight: normal;
    font-size: 14px;
    line-height: 17px;
  }
}
