<div class="about">
  <div class="about__photo">
    <img src="assets/images/about.png" height="500px" />
    <div class="about__photo_banner">
      <img src="assets/icons/shield.png" width="22px" />
      <div class="ml-2">ПРЕМИАЛЬНОЕ КАЧЕСТВО ГАРАНТИРУЕМ!</div>
    </div>
  </div>
  <div class="about__desc">
    <div class="about__desc_title">Тепличное хозяйство</div>
    <div class="about__desc_name">«Агрофирма Цветочная Долина»</div>
    <div class="about__desc_text">
      Тепличное хозяйство Агрофирма «Цветочная Долина» является признанным производителем цветочной
      продукции широкого ассортимента. Наш принцип - индивидуальный подход к клиенту и постоянный
      контроль качества продукции на каждом этапе выполнения работ.
      <br />
      <br />
      Наша Агрофирма старается удовлетворить запросы самых взыскательных клиентов, как
      профессионалов цветочного бизнеса, так и садоводов-любителей.
      <br />
      <br />
      Наш принцип - индивидуальный подход к клиенту и постоянный контроль качества продукции на
      каждом этапе выполнения работ.
    </div>
  </div>
</div>
