@import "container";
@import "colors";

$root: '.category';

@mixin active {
  background: $main-green;
  color: $white-100;
  border-color: $main-green;
}

#{$root} {
  &__content {
    padding-top: 40px;
    display: flex;
    &_menu {
      padding-right: 40px;
      min-width: 250px;
      font-weight: 500;
      font-size: 14px;
      line-height: 17px;
      .item {
        border: 1px solid $border;
        padding: 15px 20px;
        background: $white-100;
        &.active {
          @include active
        }
        &:hover {
          cursor: pointer;
          @include active
        }
      }
    }
    &_items {
      flex: 1 1 auto;
      display: flex;
      flex-wrap: wrap;

      &.start {
        justify-content: flex-start;
        ::ng-deep .product {
          margin-right: 20px;
        }
      }

      &.between {
        justify-content: space-between;
        ::ng-deep .product {
          margin-right: 0;
        }
      }
    }
  }
}

.border-radius-bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.border-radius-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
