@import "container";
@import "colors";

$root: '.category';

@mixin active {
  background: $main-green;
  color: $white-100;
  border-color: $main-green;
}

#{$root} {
  &__content {
    @include laptop-media {
      padding-top: 40px;
    }
    display: flex;
    position: relative;
    &_menu {
      display: none;
      @include laptop-media {
        display: block;
      }
      &>div {
        position: sticky;
        top: 130px;
        padding-right: 40px;
        min-width: 250px;
        font-weight: 500;
        font-size: 14px;
        line-height: 17px;
        .item {
          border: 1px solid $border;
          padding: 15px 20px;
          background: $white-100;
          &.active {
            @include active
          }
          &:hover {
            cursor: pointer;
            @include active
          }
        }
      }
    }
    &_items {
      flex: 1 1 auto;
      display: flex;
      flex-wrap: wrap;

      &.start {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @include laptop-media {
          flex-direction: row;
          justify-content: flex-start;
          align-items: flex-start;
          ::ng-deep .product {
            margin-right: 20px;
          }
        }
      }

      &.between {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        ::ng-deep .product {
          margin-right: 0;
        }
        @include laptop-media {
          flex-direction: row;
          align-items: flex-start;
          justify-content: space-between;
        }
      }
    }
  }
}

.border-radius-bottom {
  border-bottom-left-radius: 5px;
  border-bottom-right-radius: 5px;
}

.border-radius-top {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}
