@import "container";
@import "colors";

:host {
  display: flex;
  flex-wrap: wrap;
  //flex-direction: column;
  //@include laptop-media {
  //  flex-direction: row;
  //}
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 40px;
}

.error {
  width: 100%;
  font-weight: 500;
  font-size: 36px;
  line-height: 110%;
  color: $text;
  text-align: center;
}
