<div *ngIf="!clientsCarousel.photos.length" class="error">
  К сожалению, данные о клиентах пока отсутвуют.<br />Но мы обязательно исправим ситуацию!
</div>
<p-carousel
  *ngIf="clientsCarousel.photos.length"
  [value]="clientsCarousel.photos"
  [circular]="true"
  [numVisible]="5"
  [numScroll]="5"
  [responsiveOptions]="responsiveOptions"
  [autoplayInterval]="clientsCarousel.autoPlay * 1000"
  [showNavigators]="clientsCarousel.isUserCanLeaf"
>
  <ng-template let-page pTemplate="item">
    <div class="carousel__page">
      <img class="carousel__page_img" [src]="page.src" (click)="openImage(page.id)" />
    </div>
  </ng-template>
</p-carousel>

<p-galleria
  [value]="clientsCarousel.photos"
  [(visible)]="displayCustom"
  [(activeIndex)]="activeIndex"
  [responsiveOptions]="responsiveOptions"
  [circular]="true"
  [fullScreen]="true"
  [showItemNavigators]="true"
  [showThumbnails]="false"
>
  <ng-template pTemplate="item" let-item>
    <img [src]="item.src" style="width: 100%; display: block" />
  </ng-template>
</p-galleria>
