<div *ngIf="!clients.length" class="error">
  К сожалению, данные о клиентах пока отсутвуют.<br />Но мы обязательно исправим ситуацию!
</div>
<img *ngFor="let client of clients" [src]="client" />
<p-carousel
  *ngIf="clients.length"
  [value]="clients"
  [circular]="true"
  [numVisible]="5"
  [numScroll]="5"
  [responsiveOptions]="responsiveOptions"
  [autoplayInterval]="5000"
>
  <ng-template let-page pTemplate="item">
    <div class="carousel__page">
      <img class="carousel__page_img" width="135px" [src]="page.img" (click)="openImage(page.id)" />
    </div>
  </ng-template>
</p-carousel>

<p-galleria
  [value]="clients"
  [(visible)]="displayCustom"
  [(activeIndex)]="activeIndex"
  [responsiveOptions]="responsiveOptions"
  [circular]="true"
  [fullScreen]="true"
  [showItemNavigators]="true"
  [showThumbnails]="false"
>
  <ng-template pTemplate="item" let-item>
    <img [src]="item.img" style="width: 100%; display: block" />
  </ng-template>
</p-galleria>
