<div class="advantages">
  <div class="advantages__card">
    <div class="advantages__card_title">Преимущества</div>
    <div class="advantages__card_name">Агрофирма цветочная долина</div>
    <div class="advantages__card_content">
      <div>
        <div><img src="assets/icons/advantages/greenhouse.png" width="40px" /></div>
        <div>Собственное производство</div>
        <div>
          Ручное производство, длительная выгонка цветов, опытные специалисты, профессиональный
          подход к выращиванию цветов.
        </div>
      </div>
      <div>
        <div><img src="assets/icons/advantages/flower.png" width="35px" /></div>
        <div>Качество рассады</div>
        <div>
          Наша традиция – выращивание отборного, качественного тюльпана. Наш тюльпан – длиной до
          50-60 см, бокал до 8 см.
        </div>
      </div>
      <div>
        <div><img src="assets/icons/advantages/wallet.png" width="34px" /></div>
        <div>Оптимальные цены</div>
        <div>
          Тюльпаны Премиум 55-60 см высотой от 28р. Размер предоплаты составляет от 20% до 100%
          стоимости заказа по вашему желанию.
        </div>
      </div>
    </div>
  </div>
</div>
