@import "container";

::ng-deep .p-accordion {
  width: 100%;
  @include laptop-media {
    width: 540px;
  }
  .p-accordion-content {
    padding: 10px 0 0;
    border: none;
    background: none;
  }
}
