@import "colors";

:host {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding-top: 40px;
  padding-bottom: 20px;
}

.card {
  background-color: $white-100;
  border-radius: 10px;
  width: 280px;
  margin-bottom: 20px;
  &>div:first-child {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 280px;
    height: 230px;
    border-radius: 10px;
  }
  &>div:last-child {
    padding: 20px 20px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
  }
}
