<p-fileUpload
  #fileUpload
  styleClass="mb-2"
  [customUpload]="true"
  mode="basic"
  [chooseLabel]="label"
  [multiple]="multi"
  [auto]="true"
  (uploadHandler)="uploadFiles($event.files)"
></p-fileUpload>
<div class="flex flex-wrap mb-2" *ngIf="!files.length && !showOnlyButton">
  <p-image
    *ngFor="let photo of photos"
    styleClass="mr-2"
    [src]="photo.objectURL"
    width="100px"
  ></p-image>
</div>
<div class="flex flex-wrap mb-2" *ngIf="files.length && !showOnlyButton">
  <p-image *ngFor="let photo of files" styleClass="mr-2" [src]="photo" width="100px"></p-image>
</div>
