<p-fileUpload
  #fileUpload
  styleClass="mb-2"
  [customUpload]="true"
  mode="basic"
  [chooseLabel]="label"
  [multiple]="multi"
  [auto]="true"
  (uploadHandler)="uploadFiles($event.files)"
></p-fileUpload>
<div class="grid mt-2" *ngIf="!showOnlyButton">
  <div class="img col-3" *ngFor="let photo of photos; let i = index">
    <p-image [src]="photo.objectURL" width="100"></p-image>
    <p-button styleClass="p-button-danger" icon="pi pi-trash" (onClick)="removeImage(i)"></p-button>
  </div>
</div>
