<div class="breadcrumb">
  <div class="breadcrumb__icon" [routerLink]="['', parentPath]">
    <img src="../../../assets/icons/back.svg" />
  </div>
  <div class="breadcrumb__nav-bar">
    <div
      *ngFor="let item of items; let last = last"
      [ngClass]="{ active: last }"
      class="breadcrumb__nav-bar_item"
    >
      <span *ngIf="!last" [routerLink]="item.routerLink">{{ item.title }}</span>
      <span *ngIf="last">{{ item.title }}</span>
      <span *ngIf="!last">/</span>
    </div>
  </div>
</div>
