<div class="container my-4">
  <span class="p-input-icon-left w-12">
    <i class="pi pi-search"></i>
    <input class="w-12" pInputText placeholder="Поиск по товарам" type="text" />
  </span>
  <div class="banner">
    <div class="pr-8">
      <div class="header">Тюльпаны оптом</div>
      <div class="info">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Semper duis libero, arcu sed.
        Aliquet ut sit vestibulum auctor id. Maecenas vel mollis et viverra aenean cursus. Consequat
        felis nec ultricies vel, massa, est nunc. Purus at a nisl.
      </div>
      <div>
        <p-button styleClass="mt-4">
          <ng-template pTemplate="content">
            <div>Каталог тюльпанов</div>
            <div class="ml-2">
              <img src="assets/images/leaf.png" />
            </div>
          </ng-template>
        </p-button>
      </div>
    </div>
    <div class="carousel">
      <p-carousel [value]="photos" [circular]="true">
        <ng-template let-photo pTemplate="item">
          <img class="carousel__img" [src]="photo.src" />
        </ng-template>
      </p-carousel>
    </div>
  </div>
  <div class="info-banner">
    <div>
      5800+<br />
      <span>ДОВОЛЬНЫХ КЛИЕНТОВ</span>
    </div>
    <div>
      20 лет<br />
      <span>НА РЫНКЕ ЦВЕТОВ</span>
    </div>
    <div>
      50+<br />
      <span>ГОРОДОВ В РОССИИ</span>
    </div>
    <div>
      1 500.000<br />
      <span>ЦВЕТОВ В ГОД</span>
    </div>
  </div>
</div>
