@import "colors";
@import "styles";

.container {
  max-width: $container-width;
  margin: auto;
  .search {
    position: relative;
    input {
      height: 67px;
    }
    &__button {
      ::ng-deep button {
        padding: 10px;
      }
      position: absolute;
      margin-top: 10px;
      margin-bottom: 10px;
      top: 0;
      bottom: 0;
      right: 10px;
      border-radius: 10px;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }
  .banner {
    display: flex;
    width: 100%;
    margin-top: 20px;
    &__button {
      position: relative;
      ::ng-deep button {
        padding-right: 80px;
        border-radius: 10px;
        height: 55px;
      }
      &_leaf {
        position: absolute;
        right: 0;
        padding: 15px;
        background-color: $dark-green;
        border-radius: 10px;
      }
    }
    .header {
      font-weight: 500;
      font-size: 60px;
      line-height: 100%;
    }
    .info {
      color: $text-grey;
      font-weight: normal;
      font-size: 16px;
      line-height: 140%;
      padding-top: 20px;
    }
    .carousel {
      position: relative;
      &__img {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
      }
      &__banner {
        position: absolute;
        right: 20px;
        bottom: 50px;
        display: flex;
        align-items: center;
        padding: 17px 24px;
        font-weight: 500;
        font-size: 16px;
        line-height: 135%;
        color: $white;
        background: rgba(255, 255, 255, 0.25);
        backdrop-filter: blur(13px);
        border-radius: 10px;
      }
    }
  }
  .info-banner {
    width: 100%;
    margin-top: 25px;
    background: $light-grey;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 10px 20px;
    div {
      display: flex;
      flex-direction: column;
      span:first-child {
        font-weight: 500;
        font-size: 48px;
        line-height: 110%;
        color: $main-green;
        margin-bottom: 20px;
      }
      span:last-child {
        font-weight: 500;
        font-size: 16px;
        line-height: 110%;
        color: $text;
      }
    }
  }
}

:host ::ng-deep .p-carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  .p-carousel-indicator button {
    opacity: 0.4;
    border-radius: 119.15px;
    height: 3px;
    width: 32.79px;
  }
  .p-carousel-indicator.p-highlight button {
    opacity: 1;
    background-color: white;
    border-radius: 119.15px;
    height: 3px;
    width: 32.79px;
  }
}
:host ::ng-deep .p-carousel-content {
  position: relative;
  border-radius: 15px;
  .p-carousel-prev, .p-carousel-next {
    color: white;
    position: absolute;
    z-index: 10;
  }
  .p-carousel-next {
    right: 0;
  }
}

:host ::ng-deep .p-button {
  background-color: $main-green;
  border-color: $main-green;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  &:enabled {
    &:hover, &:active {
      background-color: $dark-green;
      border-color: $dark-green;
    }
  }
}
