@import "../../../assets/styles/colors";

.p-float-label {
  margin-bottom: 10px;
  padding-top: 5px;

  ::ng-deep .p-inputwrapper {
    width: 100%;
  }

  ::ng-deep .p-inputtext {
    width: 100%;
    padding: 20px 22px;
  }

  .p-inputwrapper-focus ~ label {
    top: 15px;
    left: 20px;
  }
}
::ng-deep .p-button {
  background-color: $main-green;
  border-color: $main-green;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;

  &:enabled {
    &:hover, &:active {
      background-color: $dark-green;
      border-color: $dark-green;
    }
  }
}

.header {
  margin-bottom: 1.5rem;
}
