<div class="confirmation">
  <span class="p-buttonset">
    <button
      pButton
      class="w-6"
      [ngClass]="{ 'p-button-outlined': clientType !== 'individual' }"
      label="ФИЗИЧЕСКИЕ ЛИЦА"
      (click)="clientType = 'individual'"
    ></button>
    <button
      pButton
      class="w-6"
      [ngClass]="{ 'p-button-outlined': clientType !== 'entity' }"
      label="ЮРИДИЧЕСКИЕ ЛИЦА"
      (click)="clientType = 'entity'"
    ></button>
  </span>
  <p-tabView styleClass="tab-view" (onChange)="setClientType($event.index)">
    <p-tabPanel header="Физические лица"></p-tabPanel>
    <p-tabPanel header="Юридические лица"></p-tabPanel>
  </p-tabView>
  <div class="confirmation__content">
    <div class="confirmation__content_form">
      <form [formGroup]="contacts">
        <span class="p-float-label">
          <input type="text" id="FIO" pInputText formControlName="name" />
          <label for="FIO">Контактное лицо</label>
        </span>

        <span class="p-float-label">
          <input type="text" id="phone" pInputText formControlName="phone" />
          <label for="phone">Телефон</label>
        </span>

        <span class="p-float-label">
          <input type="text" id="email" pInputText formControlName="email" />
          <label for="email">Email</label>
        </span>

        <span class="p-float-label">
          <input
            [ngClass]="{ 'calculation-padding': shippingCost }"
            type="text"
            id="address"
            pInputText
            formControlName="address"
          />
          <label for="address">Адрес доставки</label>
          <div class="calculation-result" *ngIf="shippingCost || delivery_error">
            <p-button
              *ngIf="!showDelivery && !delivery_error"
              (onClick)="deliveryButtonClick()"
              label="Рассчитать доставку"
            ></p-button>
            <div
              *ngIf="showDelivery || delivery_error"
              class="delivery"
              [ngClass]="{ success: shippingCost, error: delivery_error }"
            >
              {{
                shippingCost
                  ? 'Доставка ' + (shippingCost | priceConverter: 'none':'RUB')
                  : delivery_error
              }}
            </div>
          </div>
        </span>
        <div class="flex justify-content-end">
          <p-button
            *ngIf="showDelivery"
            styleClass="p-button-text"
            label="Показать на карте"
            (onClick)="yandexMapComponent.showMapToggle()"
          ></p-button>
        </div>
      </form>
      <div class="p-field-checkbox" [ngClass]="{ 'top-10': showDelivery }">
        <p-checkbox [formControl]="pickUp" [binary]="true" inputId="pickUp"></p-checkbox>
        <label for="pickUp">Самовывоз</label>
      </div>
      <span class="p-float-label">
        <p-calendar
          [formControl]="deliveryDate"
          [firstDayOfWeek]="1"
          [showTime]="true"
          [showSeconds]="false"
          dateFormat="dd.mm.yy"
          [minDate]="currentDate"
          selectionMode="range"
          [readonlyInput]="true"
          inputId="range"
          styleClass="w-12"
        ></p-calendar>
        <label for="range">Желаемый интервал доставки (самовывоза)</label>
      </span>
      <flower-valley-entity-form
        *ngIf="clientType === 'entity'"
        (dataChanges)="entityDataChanges($event)"
      ></flower-valley-entity-form>
      <p-button
        [loading]="isInvoiceLoading"
        styleClass="confirm-order"
        label="Оформить заказ"
        pTooltip="Рассчитайте доставку или выберите самовывоз"
        [tooltipDisabled]="isConfirmOrderDisabled || contacts.invalid"
        (onClick)="confirmOrder()"
      ></p-button>
    </div>
    <div class="confirmation__content_goods">
      <flower-valley-confirmation-goods
        [pickUp]="pickUp.value"
        [goods]="goods"
        [orderId]="orderId"
        [shippingCost]="showDelivery ? shippingCost || 0 : 0"
        (orderSum)="setOrderSum($event)"
      ></flower-valley-confirmation-goods>
    </div>
  </div>
</div>
<flower-valley-yandex-map #yandexMapComponent></flower-valley-yandex-map>
