@import "src/assets/styles/colors";

.card {
  background-color: $white-100;
  border-radius: 10px;
  width: 280px;
  margin-bottom: 20px;
  &>div:first-child {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 280px;
    height: 230px;
    border-radius: 10px;
  }
  &>div:nth-child(2) {
    padding: 20px 20px 30px;
    font-weight: 500;
    font-size: 16px;
    line-height: 110%;
  }
  &>div:last-child:not(:nth-child(2)) {
    padding: 0 10px 20px;
  }
}
