<form [formGroup]="saleGroup" (ngSubmit)="addSale()">
  <span class="p-float-label">
    <input type="text" id="title" pInputText formControlName="title" />
    <label for="title">Заголовок</label>
  </span>
  <span class="p-float-label">
    <textarea
      type="text"
      id="description"
      [rows]="5"
      [cols]="30"
      [autoResize]="true"
      pInputTextarea
      formControlName="description"
    ></textarea>
    <label for="description">Описание</label>
  </span>
  <span class="p-float-label">
    <p-dropdown
      styleClass="w-12"
      inputId="categories"
      [options]="categories"
      optionValue="id"
      optionLabel="name"
      formControlName="categoryId"
      [autoDisplayFirst]="false"
    ></p-dropdown>
    <label for="categories">Целевая категория</label>
  </span>
  <flower-valley-files-upload
    [multi]="false"
    (uploaded)="filesUploaded($event)"
    label="Обновить изображение"
  ></flower-valley-files-upload>
  <div class="grid mt-2">
    <div class="img col-3">
      <p-image [src]="sale.img" width="100"></p-image>
    </div>
  </div>
  <p-button type="submit" label="Сохранить" [loading]="isLoading"></p-button>
</form>
