@import "container";
@import "colors";

$root: '.container';

.container-dark {
  background: $light-grey;
}

.container-light {
  background: $white-100;
}

#{$root}__content {
  @include fv-container(50px, 50px);
  &_header {
    .title {
      display: flex;
      align-items: center;
      justify-content: space-between;
      font-weight: 500;
      font-size: 48px;
      line-height: 110%;
      color: $text;
      div {
        display: flex;
        align-items: center;
        span {
          color: $main-green;
        }
      }
    }
  }
}
