<div
  [ngClass]="{
    'container-light': background === backgroundEnum.LIGHT,
    'container-dark': background === backgroundEnum.DARK
  }"
>
  <div class="container__content">
    <div class="container__content_header">
      <div class="title">
        <div>
          <span *ngIf="headerIcon" class="pi {{ headerIcon }}" style="font-size: 25px"></span>
          <img *ngIf="headerIconImage" [src]="headerIconImage" width="22px" />
          <div class="pl-3">{{ headerTitle }}</div>
        </div>
        <flower-valley-leaf-button
          *ngIf="headerButton"
          [routerLink]="headerButton['routerLink']"
          [title]="headerButton['title']"
        ></flower-valley-leaf-button>
      </div>
    </div>
    <ng-content></ng-content>
    <p-button
      *ngIf="footerButton"
      styleClass="p-button-outlined w-12"
      [routerLink]="footerButton['routerLink']"
    >
      <ng-template pTemplate="content">
        <div class="flex justify-content-center align-items-center w-12">
          <div>{{ footerButton['title'] }}</div>
          <span class="pi {{ footerButton['icon'] }} ml-2"></span>
        </div>
      </ng-template>
    </p-button>
  </div>
</div>
