@import "colors";
@import "container";

.container {
  @include fv-container(30px);
}

:host ::ng-deep .p-button {
  background-color: $main-green;
  border-color: $main-green;
  font-weight: 500;
  font-size: 18px;
  line-height: 110%;
  &.text-normal {
    font-size: 14px;
    line-height: 100%;
  }
  &:enabled {
    &:hover, &:active {
      background-color: $dark-green;
      border-color: $dark-green;
    }
  }
  &.p-button-outlined {
    background-color: $whats-app-button;
    color: $main-green;
    &:enabled {
      &:hover, &:active {
        background-color: $dark-green;
        color: $white-100;
      }
    }
  }
  &.p-button-danger {
    background-color: $danger-background;
    border-color: $danger-border;
    color: $red-100;
    &:enabled {
      &:hover, &:active {
        background-color: $red-100;
        color: $white-100;
      }
    }
  }
  &.p-button-cookie {
    background-color: $white-100;
    color: $main-green;
    &:enabled {
      &:hover, &:active {
        background-color: $dark-green;
        color: $white-100;
      }
    }
  }
  &.p-button-text {
    background: none;
    border: none;
    color: $main-green;
    &:enabled {
      &:hover, &:active {
        background-color: $whats-app-button;
        color: $main-green;
      }
    }
  }
  &.p-button-estimate {
    background-color: $whats-app-button;
    border-radius: 15px;
    color: $text;
    border: none;
    span {
      margin-left: 15px;
    }
    &:enabled {
      &:hover, &:active {
        background-color: $whats-app-button;
        color: $text;
        outline: 1px solid $main-green;
        span {
          text-decoration: underline;
        }
      }
    }
  }
}

:host ::ng-deep .p-carousel-indicators {
  position: absolute;
  bottom: 0;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  .p-carousel-indicator button {
    opacity: 0.4;
    border-radius: 119.15px;
    height: 3px;
    width: 32.79px;
  }
  .p-carousel-indicator.p-highlight button {
    opacity: 1;
    background-color: white;
    border-radius: 119.15px;
    height: 3px;
    width: 32.79px;
  }
}
:host ::ng-deep .p-carousel-content {
  position: relative;
  border-radius: 15px;
  .p-carousel-prev, .p-carousel-next {
    color: white;
    position: absolute;
    z-index: 10;
  }
  .p-carousel-next {
    right: 0;
  }
}

.cookie {
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 140%;
}

.background-dark {
  background: $light-grey;
}

.background-light {
  background: $white-100;
}
