<flower-valley-header [headerData]="header"></flower-valley-header>
<div
  [ngClass]="{
    'background-dark': background === 'dark',
    'background-light': background === 'light'
  }"
  *ngIf="isShowBreadcrumb"
>
  <div class="container">
    <flower-valley-breadcrumb></flower-valley-breadcrumb>
  </div>
</div>
<router-outlet></router-outlet>
<flower-valley-footer [footer]="footer"></flower-valley-footer>
<p-dialog
  [closable]="false"
  [(visible)]="cookieVisible"
  [modal]="true"
  [resizable]="false"
  [draggable]="false"
  position="top-left"
  [style]="{ width: '350px' }"
>
  <span class="cookie"
    >Веб-сайт использует файлы cookie. Продолжая пользоваться сайтом, вы даете согласие на работу с
    этими файлами.</span
  >
  <ng-template pTemplate="footer">
    <p-button
      styleClass="p-button-cookie"
      (onClick)="cookieVisible = false"
      label="Понятно"
    ></p-button>
  </ng-template>
</p-dialog>
<p-confirmDialog acceptLabel="Да" rejectLabel="Нет"></p-confirmDialog>
<p-toast></p-toast>
<a
  *ngIf="mobileButtons"
  href="https://api.whatsapp.com/send/?phone={{ mobileButtons.mobileWhatsApp }}"
  target="_blank"
  class="whatsapp"
>
  <p-image src="assets/images/whatsapp.svg" width="50px"></p-image>
</a>
<a *ngIf="mobileButtons" href="tel:{{ mobileButtons.mobilePhone }}" target="_blank" class="phone">
  <p-image src="assets/images/phone-call-icon.svg" width="50px"></p-image>
</a>
<flower-valley-loader *ngIf="loadingService.isLoading"></flower-valley-loader>
