<flower-valley-container
  [headerTitle]="product.name"
  [buttonTemplate]="actionsTemplate"
  [isAdmin]="isAdmin"
  *ngIf="product"
>
  <div class="product__desc">
    <div class="product__desc_photo">
      <p-galleria
        [value]="product.photos"
        [circular]="true"
        [showThumbnailNavigators]="false"
        [numVisible]="4"
      >
        <ng-template pTemplate="item" let-photo>
          <p-image class="main-image" [src]="photo.src" (click)="openImage(photo.id)"></p-image>
        </ng-template>
        <ng-template pTemplate="thumbnail" let-photo>
          <p-image [src]="photo.src"></p-image>
        </ng-template>
      </p-galleria>
      <p-galleria
        [value]="product.photos"
        [(visible)]="displayCustom"
        [(activeIndex)]="activeIndex"
        [circular]="true"
        [fullScreen]="true"
        [showItemNavigators]="true"
        [showThumbnails]="false"
      >
        <ng-template pTemplate="item" let-item>
          <img [src]="item.src" style="width: 100%; display: block" />
        </ng-template>
      </p-galleria>
    </div>
    <div class="product__desc_info">
      <div class="product__desc_info-tare" *ngIf="product.note1 && product.note1 !== 'undefined'">
        {{ product.note1 }}
      </div>
      <div class="product__desc_info-description" [innerHTML]="product.description"></div>
      <div class="product__desc_info-categories">
        <div class="title">Категории:</div>
        <div class="cat-array">
          <span
            *ngFor="let category of product.categories; let last = last"
            (click)="getRouterLink(category.name)"
          >
            <span>{{ category.name }}</span>
            <span *ngIf="!last">,</span>
          </span>
        </div>
      </div>
      <div class="product__desc_info-share">
        <div class="title">Поделиться:</div>
        <div class="share-array">
          <a *ngFor="let category of categories" href="{{ category.link }}" target="_blank">
            <p-image
              src="assets/icons/product/{{ category.src }}.svg"
              width="15px"
              height="15px"
              styleClass="mx-2 cursor-pointer"
            ></p-image>
          </a>
        </div>
      </div>
      <div class="product__desc_info-cart">
        <div class="price">
          <span *ngIf="discount">{{ discount | priceConverter }}</span>
          <span>{{ product.price | priceConverter }}</span>
        </div>
        <div class="right-block">
          <div class="count">
            <p-inputNumber
              [(ngModel)]="product.count"
              (ngModelChange)="checkPrice()"
              [min]="step"
              [showButtons]="true"
              buttonLayout="horizontal"
              inputId="horizontal"
              [step]="step"
              (onBlur)="setCorrectCount()"
              incrementButtonIcon="pi pi-plus"
              decrementButtonIcon="pi pi-minus"
            >
            </p-inputNumber>
          </div>
          <div class="button">
            <p-button (onClick)="addToCart()">
              <ng-template pTemplate="content">
                <p-image
                  styleClass="flex align-items-center"
                  src="assets/icons/cart.svg"
                  width="15px"
                ></p-image>
                <span>В корзину</span>
              </ng-template>
            </p-button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="product__delivery">
    <div class="product__delivery_card">
      <div class="product__delivery_card-title">Доставка</div>
      <div class="product__delivery_card-content">
        <div class="product__delivery_card-content_tulips">
          <div>
            <div>
              <p-image styleClass="flex align-items-center" src="assets/icons/map.svg"></p-image>
            </div>
            <span>Доставка тюльпанов</span>
          </div>
          <div>
            Доставка тюльпанов осуществляется сторонними транспортными компаниями по заказу
            покупателя. Агрофирма не осуществляет доставку тюльпанов
          </div>
        </div>
        <div class="product__delivery_card-content_delivery">
          <div>
            <div>
              <p-image
                styleClass="flex align-items-center"
                src="assets/icons/delivery.svg"
              ></p-image>
            </div>
            <span>Доставка по Москве</span>
          </div>
          <div class="flex flex-column">
            <span class="pb-2">Доставка рассады цветов по Москве 2500 рублей. За МКАД 50р/км.</span>
            <span
              >Посчитать доставку по вашему адресу вы сможете при оформлении заказа в корзине</span
            >
          </div>
        </div>
      </div>
    </div>
  </div>
</flower-valley-container>
<flower-valley-container background="dark" headerTitle="Другие товары">
  <div *ngIf="category" class="grid w-12">
    <flower-valley-product-item
      class="col-12 lg:col-6 xl:col-3 flex justify-content-center"
      [category]="category"
      *ngFor="let prod of products"
      [product]="prod"
      (openProductCard)="getOtherProduct($event)"
    ></flower-valley-product-item>
  </div>
</flower-valley-container>

<ng-template #actionsTemplate>
  <p-button label="Редактировать товар" (onClick)="editProduct()"></p-button>
</ng-template>
