<div class="order" *ngIf="order">
  <div class="order__actions">
    <span class="p-buttonset">
      <p-button
        [disabled]="!order.confirmedDeliveryDate"
        icon="pi pi-download"
        label="Смета"
        (onClick)="getEstimate()"
      ></p-button>
      <p-button
        icon="pi pi-sync"
        styleClass="p-button-info"
        label="Повторить"
        (onClick)="repeatOrder()"
      ></p-button>
      <p-button
        icon="pi pi-save"
        label="Сохранить"
        [loading]="sendingMail"
        (onClick)="order.clientId ? createInvoice() : saveOrder()"
      ></p-button>
    </span>
  </div>
  <div class="order__header">
    <div>
      <div class="order__header_id">
        <div>Номер заказа:</div>
        <div>
          <span>
            {{ order.id }}
          </span>
          <p-tag
            [value]="getStatus(order.status).label"
            [severity]="getStatus(order.status).severity"
          ></p-tag>
        </div>
      </div>
      <div class="order__header_date">
        <div>Дата заказа:</div>
        <div>{{ order.orderDate | date: 'dd.MM.yyyy HH:mm' }}</div>
      </div>
      <div
        class="order__header_date"
        *ngIf="!order.confirmedDeliveryDate && order.deliveryWishDateFrom"
      >
        <div>Желаемая дата поставки:</div>
        <div>
          {{ order.deliveryWishDateFrom | date: 'dd.MM.yyyy' }}
          {{ order.deliveryWishDateTo ? '-' : '' }}
          {{ order.deliveryWishDateTo | date: 'dd.MM.yyyy' }}
        </div>
      </div>
      <div class="order__header_date">
        <div>Дата поставки:</div>
        <div *ngIf="order.confirmedDeliveryDate">
          <p-inplace #inplace>
            <ng-template pTemplate="display">
              {{ order.confirmedDeliveryDate | date: 'dd.MM.yyyy HH:mm' }}
            </ng-template>
            <ng-template pTemplate="content">
              <div class="flex align-items-center">
                <span class="p-float-label">
                  <p-calendar
                    #calendar
                    [(ngModel)]="order.confirmedDeliveryDate"
                    [firstDayOfWeek]="1"
                    [minDate]="order.deliveryWishDateFrom || calendar.minDate"
                    [maxDate]="order.deliveryWishDateTo || calendar.maxDate"
                    [showTime]="true"
                    [showSeconds]="false"
                    dateFormat="dd.mm.yy"
                    [readonlyInput]="true"
                    inputId="confirmedDate"
                  ></p-calendar>
                  <label for="confirmedDate">Дата поставки</label>
                </span>
                <p-button
                  styleClass="ml-2"
                  label="Изменить"
                  (onClick)="inplace.deactivate()"
                ></p-button>
              </div>
            </ng-template>
          </p-inplace>
        </div>
        <p-inplace *ngIf="!order.confirmedDeliveryDate" #inplace>
          <ng-template pTemplate="display"> Согласовать </ng-template>
          <ng-template pTemplate="content">
            <div class="flex align-items-center">
              <span class="p-float-label">
                <p-calendar
                  #calendar
                  [formControl]="confirmedDate"
                  [firstDayOfWeek]="1"
                  [minDate]="order.deliveryWishDateFrom || calendar.minDate"
                  [maxDate]="order.deliveryWishDateTo || calendar.maxDate"
                  [showTime]="true"
                  [showSeconds]="false"
                  dateFormat="dd.mm.yy"
                  [readonlyInput]="true"
                  inputId="confirmedDate"
                ></p-calendar>
                <label for="confirmedDate">Дата поставки</label>
              </span>
              <p-button
                styleClass="ml-2"
                label="Согласовать"
                (onClick)="confirmDate(inplace)"
              ></p-button>
            </div>
          </ng-template>
        </p-inplace>
      </div>
      <div class="order__header_address">
        <div>Адрес поставки:</div>
        <div>
          <p-inplace #inplace>
            <ng-template pTemplate="display"> {{ order.clientAddress }} </ng-template>
            <ng-template pTemplate="content">
              <div class="flex align-items-center">
                <span class="p-float-label">
                  <input type="text" id="address" pInputText [(ngModel)]="order.clientAddress" />
                  <label for="address">Адрес</label>
                </span>
                <p-button
                  styleClass="ml-2"
                  label="Закрыть"
                  (onClick)="inplace.deactivate()"
                ></p-button>
              </div>
            </ng-template>
          </p-inplace>
        </div>
      </div>
      <div class="order__header_products-sum">
        <div>Стоимость товаров:</div>
        <div>{{ getProductsSum() | priceConverter }}</div>
      </div>
      <div class="order__header_products-sum" *ngIf="orderDiscount">
        <div>Скидка:</div>
        <div>{{ orderDiscount.value | priceConverter }} ({{ orderDiscount.percent }}%)</div>
      </div>
      <div class="order__header_boxes-sum">
        <div>Стоимость коробок:</div>
        <div>{{ getBoxesSum() | priceConverter }}</div>
      </div>
      <div class="order__header_delivery" *ngIf="order.deliveryPrice">
        <div>Стоимость поставки:</div>
        <div>
          <p-inplace #inplace>
            <ng-template pTemplate="display">
              {{ order.deliveryPrice | priceConverter }}
            </ng-template>
            <ng-template pTemplate="content">
              <div class="flex align-items-center">
                <span class="p-float-label">
                  <p-inputNumber [(ngModel)]="order.deliveryPrice" inputId="delivery" [min]="1">
                  </p-inputNumber>
                  <label for="delivery">Стоимость поставки</label>
                </span>
                <p-button
                  styleClass="ml-2"
                  label="Закрыть"
                  (onClick)="inplace.deactivate()"
                ></p-button>
              </div>
            </ng-template>
          </p-inplace>
        </div>
      </div>
      <div class="order__header_sum">
        <div>Сумма заказа:</div>
        <div>{{ getOrderSum() | priceConverter }}</div>
      </div>
    </div>
    <div class="order__client">
      <div class="order__client_name">
        <div>Клиент:</div>
        <div>{{ order.clientName }}</div>
      </div>
      <div class="order__client_phone">
        <div>Телефон:</div>
        <div>{{ order.clientPhone }}</div>
      </div>
      <div class="order__client_email">
        <div>Почта:</div>
        <div>{{ order.clientEmail }}</div>
      </div>
    </div>
  </div>
  <div class="order__entity" *ngIf="clientEntity">
    <div>
      <div class="order__entity_name">
        <div>Наименование юридического лица:</div>
        <div>{{ clientEntity.ShortName }}</div>
      </div>
      <div class="order__entity_inn">
        <div>ИНН:</div>
        <div>{{ clientEntity.INN }}</div>
      </div>
    </div>
    <div class="order__entity_account">
      <p-button label="Посмотреть счет" (onClick)="openTelepack()"></p-button>
    </div>
  </div>
  <div class="order__products">
    <flower-valley-products-order [(orderProducts)]="order.products"></flower-valley-products-order>
  </div>
  <div class="order__boxes">
    <flower-valley-boxes-order
      [(orderBoxes)]="order.boxes"
      [products]="order.products"
    ></flower-valley-boxes-order>
  </div>
</div>
