@import "container";
@import "colors";

$root: '.catalog';

#{$root} {
  &__categories {
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 150px;
  }
}

.start {
  justify-content: flex-start;
  ::ng-deep .card {
    margin-right: 20px;
  }
}

.between {
  justify-content: space-between;
  ::ng-deep .card {
    margin-right: 0;
  }
}
