<form [formGroup]="advantagesForm" (ngSubmit)="saveAdvantages()">
  <span class="p-float-label">
    <input type="text" id="title" pInputText formControlName="title" />
    <label for="title">Заголовок</label>
  </span>
  <span class="p-float-label">
    <input type="text" id="subTitle" pInputText formControlName="subTitle" />
    <label for="subTitle">Подзаголовок</label>
  </span>
  <div class="content-block">
    <div formGroupName="leftBlock">
      <h2>Левый блок</h2>
      <span class="p-float-label">
        <input type="text" id="title-leftBlock" pInputText formControlName="title" />
        <label for="title-leftBlock">Заголовок</label>
      </span>
      <span class="p-float-label">
        <textarea
          type="text"
          id="description-leftBlock"
          [rows]="7"
          [cols]="30"
          [autoResize]="true"
          pInputTextarea
          formControlName="description"
        ></textarea>
        <label for="description-leftBlock">Описание</label>
      </span>
      <flower-valley-files-upload
        [multi]="false"
        label="Обновить изображение"
        (uploaded)="photoUploaded($event, 'leftBlock')"
      ></flower-valley-files-upload>
      <p-image *ngIf="photos" [src]="photos.left" width="100"></p-image>-->
    </div>
    <div formGroupName="centerBlock">
      <h2>Центральный блок</h2>
      <span class="p-float-label">
        <input type="text" id="title-centerBlock" pInputText formControlName="title" />
        <label for="title-centerBlock">Заголовок</label>
      </span>
      <span class="p-float-label">
        <textarea
          type="text"
          id="description-centerBlock"
          [rows]="7"
          [cols]="30"
          [autoResize]="true"
          pInputTextarea
          formControlName="description"
        ></textarea>
        <label for="description-centerBlock">Описание</label>
      </span>
      <flower-valley-files-upload
        [multi]="false"
        label="Обновить изображение"
        (uploaded)="photoUploaded($event, 'centerBlock')"
      ></flower-valley-files-upload>
      <p-image *ngIf="photos" [src]="photos.center" width="100"></p-image>-->
    </div>
    <div formGroupName="rightBlock">
      <h2>Правый блок</h2>
      <span class="p-float-label">
        <input type="text" id="title-rightBlock" pInputText formControlName="title" />
        <label for="title-rightBlock">Заголовок</label>
      </span>
      <span class="p-float-label">
        <textarea
          type="text"
          id="description-rightBlock"
          [rows]="7"
          [cols]="30"
          [autoResize]="true"
          pInputTextarea
          formControlName="description"
        ></textarea>
        <label for="description-rightBlock">Описание</label>
      </span>
      <flower-valley-files-upload
        [multi]="false"
        label="Обновить изображение"
        (uploaded)="photoUploaded($event, 'rightBlock')"
      ></flower-valley-files-upload>
      <p-image *ngIf="photos" [src]="photos.right" width="100"></p-image>-->
    </div>
  </div>
  <!--  <div-->
  <!--    class="photos-error"-->
  <!--    *ngIf="productGroup.dirty && !photos.length && product && !product.photos.length"-->
  <!--  >-->
  <!--    Добавьте фотографии-->
  <!--  </div>-->
  <!--  <flower-valley-files-upload-->
  <!--    [multi]="false"-->
  <!--    label="Обновить изображение"-->
  <!--    (uploaded)="photoUploaded($event)"-->
  <!--  ></flower-valley-files-upload>-->
  <!--  <div class="grid mt-2">-->
  <!--    <div class="img col-3" *ngFor="let photo of product?.photos">-->
  <!--      <p-image [src]="photo.src" width="100"></p-image>-->
  <!--    </div>-->
  <!--  </div>-->
  <p-button type="submit" label="Сохранить" [loading]="isLoading"></p-button>
</form>
