<div class="sales">
  <div class="sales__content">
    <p-carousel [value]="sales" [autoplayInterval]="5000" [circular]="true">
      <ng-template let-sale pTemplate="item">
        <div [ngStyle]="{ 'background-image': 'url(' + sale.img + ')' }" class="item">
          <div class="item__container">
            <div class="item__container_content">
              <div>{{ sale.title }}</div>
              <div>{{ sale.description }}</div>
              <p-button label="Подробнее"></p-button>
            </div>
          </div>
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>
