<div class="product" [ngClass]="{ 'cursor-move': isAdmin }">
  <div class="product__header">
    <p-image
      [src]="product.photos[0].src"
      [alt]="product.name"
      class="product__header_image"
      width="280"
      height="180"
      [imageStyle]="{ 'border-radius': '10px', 'object-fit': 'cover' }"
      (click)="openProductCard.emit(product.id)"
    ></p-image>
    <div class="product__header_title">
      <span (click)="openProductCard.emit(product.id)">{{ product.name }}</span>
    </div>
  </div>
  <div class="product__interactive">
    <div class="product__interactive_price">{{ product.price | priceConverter: 'none':'RUB' }}</div>
    <div class="flex align-items-center">
      <p-inputNumber
        [(ngModel)]="product.count"
        (ngModelChange)="checkPrice()"
        [allowEmpty]="true"
        [min]="step"
        [showButtons]="true"
        buttonLayout="horizontal"
        inputId="horizontal"
        [step]="step"
        (onBlur)="setCorrectCount()"
        incrementButtonIcon="pi pi-plus"
        decrementButtonIcon="pi pi-minus"
      >
      </p-inputNumber>
      <p-button (onClick)="addToCart()">
        <ng-template pTemplate="content">
          <img src="../../../assets/icons/cart.svg" width="25px" />
        </ng-template>
      </p-button>
    </div>
  </div>
  <div class="product__edit" *ngIf="isAdmin">
    <p-button
      *ngIf="product.id"
      class="w-12"
      styleClass="w-12 mb-2"
      label="Редактировать"
      (onClick)="showEditProductModal(product.id)"
    ></p-button>
    <p-button
      class="w-12"
      styleClass="w-12 p-button-danger"
      label="Удалить"
      (onClick)="deleteProduct()"
    ></p-button>
  </div>
</div>
