<div class="product">
  <div class="product__header">
    <div
      class="product__header_image"
      [ngStyle]="{ 'background-image': 'url(\'' + product.photos[0] + '\')' }"
    ></div>
    <div class="product__header_title" (click)="openProductCard.emit(product.id)">
      {{ product.name }}
    </div>
  </div>
  <div class="product__interactive">
    <div class="product__interactive_price">{{ product.price | priceConverter: 'none':'RUB' }}</div>
    <p-inputNumber
      [(ngModel)]="product.count"
      [min]="step"
      [showButtons]="true"
      buttonLayout="horizontal"
      inputId="horizontal"
      [step]="step"
      (onBlur)="setCorrectCount()"
      incrementButtonIcon="pi pi-plus"
      decrementButtonIcon="pi pi-minus"
    >
    </p-inputNumber>
    <p-button (onClick)="addToCart()">
      <ng-template pTemplate="content">
        <img src="../../../assets/icons/cart.svg" width="25px" />
      </ng-template>
    </p-button>
  </div>
  <div class="product__edit" *ngIf="isAdmin">
    <p-button
      *ngIf="product.id"
      class="w-12"
      styleClass="w-12 mb-2"
      label="Редактировать"
      (onClick)="showEditProductModal(product.id)"
    ></p-button>
    <p-button
      class="w-12"
      styleClass="w-12 p-button-danger"
      label="Удалить"
      (onClick)="deleteProduct()"
    ></p-button>
  </div>
</div>
