@import "src/assets/styles/colors";

 :host ::ng-deep .p-button {
  padding: 12px;
}

.product {
  background-color: $white-100;
  border-radius: 10px;
  width: 280px;
  margin-bottom: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__header {
    &_image {
      cursor: pointer;
    }
    &_title {
      padding: 20px 20px 30px;
      font-weight: 500;
      font-size: 16px;
      line-height: 110%;
      span {
        &:hover {
          cursor: pointer;
          text-decoration: underline;
        }
      }
    }
  }
  &__interactive {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px;
    &_price {
      font-weight: 500;
      font-size: 32px;
      line-height: 110%;
      color: $main-green;
    }
    ::ng-deep .p-inputnumber {
      margin-right: 10px;
      width: 100px;
      input {
        width: 60px;
        text-align: center;
        padding: 0;
        outline: none !important;
        box-shadow: none !important;
      }
      .p-button.p-button-icon-only {
        width: unset;
        padding-left: 5px;
        padding-right: 5px;
        max-width: 20px;
        background-color: $white-100;
        border-color: $border-count;
        color: $text-grey;
        .p-button-icon {
          display: flex;
          &::before {
            font-size: 10px;
          }
        }
      }
    }
  }
  &__edit {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15px 15px 15px;
  }
}
