<div class="video grid" #container>
  <div *ngIf="!videos.length" class="video__error col-12">
    К сожалению, видео пока отсутвует.<br />Но мы обязательно исправим ситуацию!
  </div>
  <div class="video__container col-12 lg:col-6 xl:col-4" *ngFor="let video of videos">
    <iframe
      [width]="container.offsetWidth < 383 ? container.offsetWidth : '383'"
      height="216"
      [src]="video.src | safeUrl"
      [title]="video.title"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
    ></iframe>
    <div>{{ video.title }}</div>
    <div>{{ video.description }}</div>
    <div class="product__edit" *ngIf="isAdmin">
      <p-button
        class="w-12"
        styleClass="w-12 mb-2"
        label="Редактировать"
        (onClick)="editVideo(video)"
      ></p-button>
      <p-button
        class="w-12"
        styleClass="w-12 p-button-danger"
        label="Удалить"
        (onClick)="deleteVideo(video.id)"
      ></p-button>
    </div>
  </div>
</div>
