<form [formGroup]="contactsForm" (ngSubmit)="saveContacts()">
  <span class="p-float-label">
    <input type="text" id="whatsAppNumber" pInputText formControlName="whatsAppNumber" />
    <label for="whatsAppNumber">Номер чата на кнопке WhatsApp</label>
  </span>
  <div class="formArrayBlock">
    <div>
      <ng-container formArrayName="workTime">
        <ng-container *ngFor="let control of getControlArray('workTime').controls; let i = index">
          <div class="flex align-items-center">
            <span class="p-float-label mr-2">
              <input
                type="text"
                id="workTime-{{ i }}"
                pInputText
                [formControl]="getFormControl(control)"
              />
              <label for="workTime-{{ i }}">Время работы</label>
            </span>
            <p-button
              styleClass="mb-2 p-button-danger"
              icon="pi pi-trash"
              (onClick)="deleteArrayControl('workTime', i)"
            ></p-button>
          </div>
        </ng-container>
      </ng-container>
      <p-button
        label="Добавить значение"
        *ngIf="isFormArrayValid('workTime')"
        (onClick)="addControlToArray('workTime')"
        styleClass="mb-2 w-12"
      ></p-button>
    </div>
    <div>
      <ng-container formArrayName="address">
        <ng-container *ngFor="let control of getControlArray('address').controls; let i = index">
          <div class="flex align-items-center">
            <span class="p-float-label mr-2">
              <input
                type="text"
                id="address-{{ i }}"
                pInputText
                [formControl]="getFormControl(control)"
              />
              <label for="address-{{ i }}">Адрес</label>
            </span>
            <p-button
              styleClass="mb-2 p-button-danger"
              icon="pi pi-trash"
              (onClick)="deleteArrayControl('address', i)"
            ></p-button>
          </div>
        </ng-container>
      </ng-container>
      <p-button
        label="Добавить значение"
        *ngIf="isFormArrayValid('address')"
        (onClick)="addControlToArray('address')"
        styleClass="mb-2 w-12"
      ></p-button>
    </div>
  </div>
  <div class="formArrayBlock">
    <div>
      <ng-container formArrayName="phones">
        <ng-container *ngFor="let control of getControlArray('phones').controls; let i = index">
          <div class="flex align-items-center">
            <span class="p-float-label mr-2">
              <input
                type="text"
                id="phones-{{ i }}"
                pInputText
                [formControl]="getFormControl(control)"
              />
              <label for="phones-{{ i }}">Телефон</label>
            </span>
            <p-button
              styleClass="mb-2 p-button-danger"
              icon="pi pi-trash"
              (onClick)="deleteArrayControl('phones', i)"
            ></p-button>
          </div>
        </ng-container>
      </ng-container>
      <p-button
        label="Добавить значение"
        *ngIf="isFormArrayValid('phones')"
        (onClick)="addControlToArray('phones')"
        styleClass="mb-2 w-12"
      ></p-button>
    </div>
    <div>
      <ng-container formArrayName="mail">
        <ng-container *ngFor="let control of getControlArray('mail').controls; let i = index">
          <div class="flex align-items-center">
            <span class="p-float-label mr-2">
              <input
                type="text"
                id="mail-{{ i }}"
                pInputText
                [formControl]="getFormControl(control)"
              />
              <label for="mail-{{ i }}">Почта</label>
            </span>
            <p-button
              styleClass="mb-2 p-button-danger"
              icon="pi pi-trash"
              (onClick)="deleteArrayControl('mail', i)"
            ></p-button>
          </div>
        </ng-container>
      </ng-container>
      <p-button
        label="Добавить значение"
        *ngIf="isFormArrayValid('mail')"
        (onClick)="addControlToArray('mail')"
        styleClass="mb-2 w-12"
      ></p-button>
    </div>
  </div>
  <!--  <div-->
  <!--    class="photos-error"-->
  <!--    *ngIf="productGroup.dirty && !photos.length && product && !product.photos.length"-->
  <!--  >-->
  <!--    Добавьте фотографии-->
  <!--  </div>-->
  <!--  <div class="grid mt-2">-->
  <!--    <div class="img col-3" *ngFor="let photo of product?.photos">-->
  <!--      <p-image [src]="photo.src" width="100"></p-image>-->
  <!--    </div>-->
  <!--  </div>-->
  <p-button type="submit" label="Сохранить" [loading]="isLoading"></p-button>
</form>
