@import "src/app/modules/admin/add/product/product.component";
.p-float-label {
  ::ng-deep {
    p-inputnumber, .p-inputnumber {
      display: unset !important;
    }
  }
}

.img {
  position: relative;
  p-button {
    position: absolute;
    top: 0;
    left: 0;
  }
}
