$main-green: #8FB600;

$dark-green: #6D8A00;

$whats-app-button: rgba(143, 182, 0, 0.1);

$whats-app-button-footer: rgba(255, 255, 255, 0.1);

$white-100: #fff;
$white-70: rgba(255, 255, 255, 0.7);
$white-50: rgba(255, 255, 255, 0.5);
$white-10: rgba(255, 255, 255, 0.1);

$text-grey: #787878;

$light-grey: #F5F7FB;

$box-background: #F5F5F5;

$border: #E3EAF8;

$border-count: #E6E6E6;

$border-cart: rgba(0, 0, 0, 0.1);

$text: #3A3A3A;

$scrollbar: rgba(58, 58, 58, 0.1);

$scrollbar-thumb: rgba(58, 58, 58, 0.3);

$footer: #404657;

$red-100: #EA3B15;

$red-40: rgba(234, 59, 21, 0.4);

$danger-background: rgba(247, 177, 161, 0.1);
$danger-border: #F7B1A1;

$sales-background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);

$green-gradient: linear-gradient(90.17deg, #7C9E00 0.15%, #E6CF00 99.86%);
