$main-green: #8FB600;

$dark-green: #6D8A00;

$whats-app-button: rgba(143, 182, 0, 0.1);

$whats-app-button-footer: rgba(255, 255, 255, 0.1);

$white-100: #fff;
$white-70: rgba(255, 255, 255, 0.7);
$white-50: rgba(255, 255, 255, 0.5);

$text-grey: #787878;

$light-grey: #F5F7FB;

$text: #3A3A3A;

$footer: #404657;

$sales-background: linear-gradient(180deg, rgba(0, 0, 0, 0.3) 0%, rgba(0, 0, 0, 0.8) 100%);
