<flower-valley-container headerTitle="Добавить статью">
  <form [formGroup]="mediaForm" (ngSubmit)="addMedia()">
    <span class="p-float-label">
      <input type="text" id="title" pInputText formControlName="title" />
      <label for="title">Заголовок</label>
    </span>
    <span class="p-float-label">
      <input type="text" id="link" pInputText formControlName="link" />
      <label for="link">Ссылка на статью</label>
    </span>
    <span class="p-float-label">
      <p-calendar
        inputId="publishDate"
        formControlName="publishDate"
        dateFormat="dd.mm.yy"
        [maxDate]="currentDate"
      ></p-calendar>
      <label for="publishDate">Дата публикации</label>
    </span>
    <flower-valley-files-upload
      [multi]="false"
      label="Добавить обложку"
      (uploaded)="photoUploaded($event)"
    ></flower-valley-files-upload>
    <p-button type="submit" label="Добавить"></p-button>
  </form>
</flower-valley-container>
