<flower-valley-banner></flower-valley-banner>
<flower-valley-container
  background="dark"
  headerTitle="Каталог"
  headerIcon="pi-shopping-bag"
  [headerButton]="button"
  [isAdmin]="isAdmin"
>
  <div class="flex-container">
    <flower-valley-catalog-item
      *ngFor="let item of catalog"
      [item]="item"
    ></flower-valley-catalog-item>
  </div>
</flower-valley-container>
<flower-valley-container headerIcon="pi-percentage" headerTitle="Акции и скидки">
  <flower-valley-sales></flower-valley-sales>
</flower-valley-container>
<flower-valley-container
  background="dark"
  headerTitle="Популярные товары"
  headerIconImage="assets/icons/fire.png"
  [headerButton]="button"
  [footerButton]="footerButton"
>
  <div class="flex-container">
    <flower-valley-product-item
      *ngFor="let product of products"
      [product]="product"
    ></flower-valley-product-item>
  </div>
</flower-valley-container>
<flower-valley-about></flower-valley-about>
<flower-valley-advantages></flower-valley-advantages>
<flower-valley-container headerTitle="Видео о нас" headerIcon="pi-video">
  <flower-valley-video></flower-valley-video>
</flower-valley-container>
<flower-valley-container
  background="dark"
  headerTitle="Отзывы"
  headerIconImage="assets/icons/file.png"
>
  <flower-valley-reviews></flower-valley-reviews>
</flower-valley-container>
<flower-valley-container headerTitle="Наши клиенты" headerIconImage="assets/icons/file-edit.png">
  <flower-valley-clients></flower-valley-clients>
</flower-valley-container>
